{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<h2>Liegenschaft bearbeiten</h2>
	{{ form_start(form) }}
	{{ form_end(form) }}
	<a class="btn btn-default" href="{{ path('delete_house', {'house' : house}) }}">Löschen</a></li>	
{% endblock %}