{% extends 'DHLGSVBundle::base.html.twig' %}
{% block body %}
	<h2>Mieter bearbeiten</h2>
	{{ form_start(form) }}		
	{{ form_end(form) }}
	<a class="btn btn-default" href="{{ path('delete_mieter', {'mieter' : mieter}) }}">Löschen</a></li>	
{% endblock %}